fieldset {
    border-style: hidden;
    padding: 16px 0;
}

legend {
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}

input, label {
    margin: 8px 4px;
    border: 1px #6AB5DE;
}

select, option {
    border: 1px #6AB5DE
}

.cont-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont-area>* {
    width: 40%;
    margin: 0 5%;
}

.cont-area>label {
    text-align: right;
}

.cont-q {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont-q>input {
    max-width: 50px;
}

.pop-up{
    width: 50%;
    height: auto;
    display: flex;
    align-self: center;
    justify-self: center;
    position: absolute;
}

/* .inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
} */

.input-section {
    display: flex;
    align-items: center;
    justify-items: center;
    grid-gap: 40px;
}

.container-btns {
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn {
    background-color: #6AB5DE;
    padding: 4px;
    border: none;
    color:#fff
}

.message {
    font-weight: 600;
    color: rgb(241, 32, 32);
}

@media (max-width: 820px) {
    .input-section {
        flex-direction: column;
    }
}

.input-section_itemLarge {
    display: grid;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    grid-auto-flow: column;
    grid-gap: 40px;
}

#BasinComp {
    /* display: none; */
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    grid-auto-flow: column;
    grid-gap: 40px;
}

.input-section_itemShort {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.input-section_itemContainer {
    background-color: #6AB5DE;
    border-radius: 50px;
    padding: 15px;
}


.input-section_itemContainer:active {
    background-color: green;
}

.input-section_itemContainer:focus {
    background-color: blue;
}

.input-section_itemContainer:hover {
    background-color: red;
}

.input-section_itemContainer:visited {
    background-color: gray;
}

/* .input-section_itemContainer:active{
    background-color: #2153f5;
    border-radius: 50px;
    padding: 15px;    
} */

.compare-input__container {}

.compare-input__title {
    padding-right: 20px;
}

.compare-input__input {}

.compare-input__select {
    background-color: #6AB5DE;

}

.inputfile+label {
    max-width: 100%;
    font-size: 1.25rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
}

.inputfile-4+label figure {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 10px;
}

.input-section_itemContainer input label {
    background-color: red;
    border-radius: 50px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.input-section_itemContainer img {
    width: 100%;
    height: 100%;
}

.compare-input {
    margin: 40px 0;
    display: flex;
    justify-content: space-between;
}

.btn-submit_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-submit_btn {
    background-color: #6AB5DE;
    color: #fff;
    text-align: center;
    font-size: 25px;
    padding: 15px 25px;
    /* border: none; */
    border-radius: 20px;
}

.btn-submit_btn:active {
    background-color: green;
}

.btn-submit_btn:focus {
    background-color: blue;
}

.btn-submit_btn:hover {
    background-color: red;
}



/* .btn-submit_btn:active{
    background-color: red;
}

.btn-submit_btn:hover{
    background-color: blue;
} */