.window {
	background-color: #f0f8ff;
	border: 1px solid #44b2e1;
	position: fixed;
	top: 200px;
	left: 200px;
	width: calc(100vw - 400px);
	height: calc(100vh - 400px);
}

.invisible, .closed {
	display: none;
}

.disabled {
	color: #5c5e5f
}

/* - - - IMAGENES - - - */

.img-full {
	width: 100%;
}
