body {
    margin: 0;
    font-family: "Ancizar Sans", "Roboto", sans-serif;
    background-color: #fff;
    background-image: url("./assets/mainBG.png");
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
}

@media (orientation: portrait) {
    body {
        background-position: bottom;
    }
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.window {
    background-color: #f0f8ff;
    border: 1px solid #44b2e1;
    position: fixed;
    top: 200px;
    left: 200px;
    width: calc(100vw - 400px);
    height: calc(100vh - 400px);
}

.img-full {
    width: 100%;
}

.disabled {
    color: #5c5e5f;
}