:root {
    --main: #5abddd;
    --main-l: #90d3e9;
    --main-ll: #c9e9f3;
    --main-d: #3b93b0;
    --main-dd: #286377;
    --main-darkest: #14333e;
    --green: #9fbf40;
    --green-l: #afca60;
    --green-ll: #c0d581;
    --green-dd: #697e2a;
    --brown-ll: #c44e27;
    --brown-l: #84341a;
    --brown: #441b0e;
    --ocher-d: #846a1a;
    --ocher-darkest: #44360e;
}